@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

#mainContainer {
  background-color: #478894;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin: 0; 
  display: flex;
  justify-content: center; 
  height: 100vh; 
  color: white;
  background-color: #478894;
}

#account {
  text-align: center; 
  margin: 0; 
}

#loginBtn { 
  margin-left:73rem;
}

#logoutBtn {
  margin-left:72rem;
}

#editContainer {
  background-color: white;
  width: 20rem;
  height: 19rem;
  border-radius: 10px;
  margin-top: 5rem;
}

#newText {
  width: 10rem;
  margin-top: 30px;
  margin-left: .25rem;
}

#updateUser {
  width: 18rem;
}

#passText {
  width:10rem;
  margin-left: .25rem;
}

#updatePass {
  width: 18rem;
}

#submit {
  margin-top: 20px;
}

.alert-container {
  position: absolute;
  width: 25rem;
  margin-left: 35rem;
  margin-top:5rem;
}


